body.page-home {
	margin: 0;
	padding: 0;
}

body.page-home.dark {
	background: #212121;
	color: #eee;
}

body.page-home.light {
	background: #eee;
	color: #212121;
}

body.page-home nav.navbar {
	border-radius: 0;
}

body.page-home.dark nav.navbar {
	background: #455a64;
	color: #eee;
}

body.page-home.light nav.navbar {
	background: #90a4ae;
	color: #212121;
}

body.page-home .container {
	margin: 0 auto;
}

#time-container {
	align-items: baseline;
	display: flex;
	padding: 128px 0 64px;
}

#time-container .time {
	font-size: 154px;
	font-weight: 100;
}

#time-container .date {
	flex-grow: 1;
	font-size: 48px;
	text-align: right;
}

#controls-container {
	border: 1px solid #eee;
	padding: 16px;
}

#controls-container legend {
	margin: 0;
	padding: 8px;
	width: auto;
}

#controls-container .togglebutton .toggle {
	margin: 0 15px;
}

#controls-container label, #controls-container legend {
	color: inherit;
}