@import "../../assets/_dims.scss";

$clock-size: 13vw;
$meridian-size: 5vw;
$date-size: 4vw;

.datetime {
    align-items: baseline;
    display: flex;

    .time {
        flex: 1;

        .clock {
            font-size: $clock-size;
            font-weight: 100;
        }

        .meridian {
            margin-left: 16px;
            font-size: $meridian-size;
            font-weight: 300;
        }
    }

    .date {
        font-size: $date-size;
        font-weight: 100;
    }
}

.time-zone {
    opacity: 0.3;
    padding: 0 $standard-padding;
}

.world-clocks {
    margin-top: $standard-padding;

    .mat-card {
        padding-top: 8px;

        .mat-card-content {
            margin-bottom: 0;
        }
    }

    .mat-row.last {
        border-bottom: none;
    }
}

@media only screen and (min-width: $viewport-width-max) {
    .datetime {
        .time {
            .clock {
                font-size: ($viewport-width-max * ($clock-size / 100vw));
            }

            .meridian {
                font-size: ($viewport-width-max * ($meridian-size / 100vw));
            }
        }

        .date {
            font-size: ($viewport-width-max * ($date-size / 100vw));
        }
    }
}