<header id="site-header" class="mat-elevation-z3" style="z-index: 999">
    <mat-toolbar color="primary">
        <button class="hamburger" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon attr.aria-label="{{ 'menus.toggleMenu' | translate }}">menu</mat-icon>
        </button>
        <a mat-button class="brand" routerLink=".">{{ "app.name" | translate }}</a>
        <span class="flex-spacer"></span>
        <div class="links">
            <a mat-button *ngFor="let option of menuOptions" routerLink="./{{ option.route }}">{{ option.label | translate }}</a>
        </div>
    </mat-toolbar>
</header>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <mat-nav-list class="menu-content">
            <a mat-list-item *ngFor="let option of menuOptions" routerLink="./{{ option.route }}">
                <mat-icon mat-list-icon>{{ option.icon }}</mat-icon>
                {{ option.label | translate }}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main id="site-main">
            <div class="content-width">
                <router-outlet></router-outlet>
            </div>
        </main>
        <footer id="site-footer">
            <div class="content-width">
                <div class="left">&copy; 2018 Eric Kumlin</div>
                <div class="right">This project is open-sourced <a href="https://github.com/ekumlin/clock-web">on GitHub</a>.</div>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>