@import "../assets/_dims.scss";

%flex-container {
    display: flex;
    flex-direction: column;
}

#app {
    @extend %flex-container;
    min-height: 100vh;

    mat-sidenav-container, mat-sidenav-content {
        @extend %flex-container;
        flex: 1;
    }

    mat-sidenav {
        min-width: 220px;

        .mat-list-item {
            font-size: 13px;
            font-weight: 700;

            .mat-icon {
                margin-right: 8px;
            }
        }
    }
}

#site-header {
    .brand {
        font: 700 22px "Lato";
    }
}

#site-main {
    flex: 1;

    a:hover {
        text-decoration: underline;
    }
}

#site-footer {
    margin-top: 16px;
    padding: 16px;
}